:root {
  --neutral-color-white: #fdfcfb;
  --neutral-color-black: #121c04;
  --neutral-color-off-white__-3: #f9f7f7;
  --neutral-color-off-white__-2: #f7f7f7;
  --neutral-color-off-white__-1: #f5f3f0;
  --neutral-color-off-white__0: #f3f1e8;
  --neutral-color-off-white__1: #f8f5e3;
  --neutral-color-grey__-4: #f4f4f4;
  --neutral-color-grey__-3: #e7e7e7;
  --neutral-color-grey__-2: #d9d9d9;
  --neutral-color-grey__-1: #BBBBBB;
  --neutral-color-grey__0: #7a7a7a;
  --neutral-color-grey__1: #5b5b5b;
  --neutral-color-grey__2: #434343;
  --neutral-color-grey__3: #2e2e2e;
  --neutral-color-grey__4: #222222;
  --primary-color__-3: #d7f69e;
  --primary-color__-2: #b1d823;
  --primary-color__-1: #86c421;
  --primary-color__0: #6eaf1f;
  --primary-color__1: #508104;
  --primary-color__2: #2e631b;
  --primary-color__3: #1b400c;
  --primary-color__4: #123106;
  --primary-color__5: #0a1f02;
  --primary-color__6: #071402;
  --primary-color-u__-2: #b6dc39;
  --primary-color-u__-1: #8ccb34;
  --primary-color-u__0: #7cb939;
  --primary-color-u__1: #5e901e;
  --primary-color-u__2: #3d772a;
  --secondary-color__-2: #eff627;
  --secondary-color__-1: #fddf15;
  --secondary-color__0: #fcbf00;
  --secondary-color__1: #db8200;
  --secondary-color-u__-2: #dbe246;
  --tertiary-color__red__-3: #fc6a6a;
  --tertiary-color__red__-2: #e34500;
  --tertiary-color__red__-1: #c92424;
  --tertiary-color__red__0: #b64201;
  --tertiary-color__red__1: #6d0808;
  --tertiary-color__red__2: #4b1f1f;
  --tertiary-color__torquise__-1: #40e0d0;
  --tertiary-color__torquise__0: #3acabb;
  --tertiary-color__torquise__1: #26867d;
  --box-shadow-default: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); }

/*
 Breakpoints
 1)Phone: 0 - 600px
 2)Tablet (Portrait): 600px-900px
 3)Tablet (Landscape): 900px-1200px
 4)Desktop : 1200px - 1800px (Normal Styles apply)
 5) Bigger Desktop: 1800px +
*/
:root {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    :root {
      font-size: 70%; } }
  @media only screen and (max-width: 75em) {
    :root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    :root {
      font-size: 50%; } }

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit; }

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--primary-color__-2), var(--primary-color__0));
  background-size: cover;
  background-repeat: no-repeat; }

::selection {
  background-color: var(--primary-color__1);
  color: var(--neutral-color-off-white__0); }

button:hover {
  cursor: pointer; }

a {
  text-decoration: none; }

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.02); {
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); } }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.animate--pulsate {
  animation: pulsate 1s infinite; }

.header {
  height: 7rem;
  background-color: var(--neutral-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--neutral-color-grey__-2); }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.sidebar {
  background-color: var(--neutral-color-grey__4);
  flex: 0 0 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center; } }

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 75em) {
    .side-nav {
      font-size: 1.2rem;
      margin-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__item {
        flex: 0 0 25%; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:active::before {
    background-color: var(--primary-color__-2); }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color__-1);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s .2s, background-color .1s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1); }
  .side-nav__item--active .side-nav__link:link,
  .side-nav__item--active .side-nav__link:visited {
    color: var(--neutral-color-black); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav__link {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link {
        text-align: center; } }
    .side-nav__link:link, .side-nav__link:visited {
      position: relative;
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--neutral-color-grey__-2);
      display: block;
      padding: 1.5rem 3rem;
      z-index: 10;
      transition: all .2s .3s;
      transition-timing-function: cubic-bezier(1, -0.01, 0, 1); }
      @media only screen and (max-width: 75em) {
        .side-nav__link:link, .side-nav__link:visited {
          padding: 2rem 2rem; } }
    .side-nav__link:hover {
      color: var(--neutral-color-grey__4); }
    .side-nav__link:active {
      color: var(--neutral-color-black); }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        width: 3rem;
        height: 3rem;
        margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav__text {
      display: none; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem 0.5rem 1rem 0.5rem;
  color: var(--neutral-color-grey__-1); }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--neutral-color-grey__-4);
  border-bottom: 1px solid var(--neutral-color-grey__-2); }
  @media only screen and (max-width: 75em) {
    .detail {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; } }

.description {
  background-color: var(--neutral-color-white);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem; }
  .description {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); }
  @media only screen and (max-width: 75em) {
    .description {
      margin: 0 0 3rem 0; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-bottom: 1px solid var(--neutral-color-grey__-2);
  border-top: 1px solid var(--neutral-color-grey__-2);
  padding: 2rem 0;
  margin: 3rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 75em) {
    .list {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 1rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      margin-right: 0.7rem;
      background-color: var(--secondary-color__1);
      -webkit-mask-image: url("../img/SVG/SVG/chevron-thin-right.svg");
      -webkit-mask-size: cover;
      mask-image: url("../img/SVG/SVG/chevron-thin-right.svg");
      mask-size: cover;
      width: 1.2rem;
      height: 1.2rem; }

.recommend {
  font-size: 1.3rem;
  color: var(--neutral-color-grey__1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .recommend {
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center; } }
  @media only screen and (max-width: 75em) {
    .recommend__count {
      margin-bottom: 1.5rem; } }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--neutral-color-white); }
    .recommend__photo:not(:last-of-type) {
      margin-right: -1.5rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--neutral-color-grey__-2);
  box-shadow: var(--box-shadow-default);
  min-height: 45rem; }

.content {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .content {
      flex-flow: column nowrap; } }

.hotel-view {
  flex: 1;
  background-color: var(--neutral-color-white); }

.gallery {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .gallery__item {
      flex: 0 0 33.33%; } }
  .gallery__photo {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.search {
  flex: 0 0 40%; }
  .search__label {
    display: flex;
    justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--neutral-color-grey__-3);
    color: inherit;
    border: 1px solid var(--neutral-color-grey__-2);
    padding: 0.7rem 2rem;
    border-radius: 20rem;
    margin-right: -3.2rem;
    width: 90%;
    transition: all .2s; }
    .search__input:active {
      background-color: var(--neutral-color-grey__-2); }
    .search__input:focus {
      outline: none;
      color: var(--neutral-color-black);
      background-color: var(--neutral-color-grey__-2);
      width: 100%; }
    .search__input::placeholder, .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--neutral-color-grey__0); }
  .search__button {
    border: none;
    background-color: var(--neutral-color-grey__-3); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(1px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--neutral-color-grey__2); }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--neutral-color-grey__-1); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--neutral-color-grey__1); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--secondary-color__-1);
    text-align: center;
    border-radius: 100px;
    position: absolute;
    top: 1.5rem;
    left: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.35rem;
    border-radius: 50%;
    margin-right: 1rem; }

.btn {
  border: none;
  transition: all .3s;
  font-size: inherit;
  cursor: pointer; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn-inline {
  display: inline-block;
  color: var(--primary-color__1);
  background-color: transparent; }
  .btn-inline--green {
    border-bottom: 1px solid currentColor; }
    .btn-inline--green:link, .btn-inline--green:visited {
      color: var(--primary-color__-1); }
    .btn-inline--green:hover {
      color: var(--primary-color__2); }
    .btn-inline--green:focus, .btn-inline--green:active {
      color: var(--primary-color__4); }

.overview {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid var(--neutral-color-grey__-2); }
  @media only screen and (max-width: 75em) {
    .overview {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: start;
      justify-content: center; } }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 75em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.2rem 2rem; } }
  .overview__stars {
    display: flex;
    align-items: center;
    margin-right: auto; }
    @media only screen and (max-width: 75em) {
      .overview__stars {
        padding: 1.2rem 2rem; } }
  .overview__icon--star, .overview__icon--location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--primary-color__-1); }
    @media only screen and (max-width: 75em) {
      .overview__icon--star, .overview__icon--location {
        width: 1.3rem;
        height: 1.3rem; } }
  .overview__location {
    display: flex;
    align-items: center;
    justify-content: start; }
    @media only screen and (max-width: 75em) {
      .overview__location {
        padding: 1.2rem 2rem;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start; } }
  .overview__rating {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1.5rem;
    background-color: var(--primary-color__-1);
    color: var(--neutral-color-white); }
    @media only screen and (max-width: 75em) {
      .overview__rating {
        text-align: left;
        padding: 1.2rem 2rem;
        background-color: transparent;
        color: inherit;
        align-items: flex-start; } }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300; }
      @media only screen and (max-width: 75em) {
        .overview__rating-average {
          font-size: 1.8rem; } }
    .overview__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase; }
  .overview__button {
    margin: 0 1rem;
    padding: 0; }
    @media only screen and (max-width: 75em) {
      .overview__button {
        text-align: left;
        margin: 0 0 0 1rem; } }

.user-reviews {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.review {
  background-color: var(--neutral-color-off-white__1);
  flex: 1;
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start; }
  .review {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); }
  .review__text {
    text-align: left;
    text-transform: full-size-kana; }
  .review__user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .review__user {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0; } }
    .review__user-box {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      margin-right: auto; }
      @media only screen and (max-width: 75em) {
        .review__user-box {
          align-items: center;
          margin: 0.7rem 0; } }
    .review__user-name {
      text-transform: uppercase; }
    .review__user-date {
      font-size: 1.2rem;
      color: var(--neutral-color-grey__1); }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
    @media only screen and (max-width: 75em) {
      .review__photo {
        margin-right: 0; } }
  .review__rating {
    font-size: 2.5rem;
    color: var(--primary-color__0);
    font-weight: 400; }
  .review__button {
    margin: 0 auto; }
