.header {
  height: 7rem;
  background-color: var(--neutral-color-white);
  border-bottom: var(--neutral-color-grey__-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}