.header {
  height: 7rem;
  background-color: var(--neutral-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  @include border-bottom-default;
  @include respond(tab-port) {
    flex-wrap: wrap;
    height: 12rem;
    align-content: space-around;
  }
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
