.sidebar {
  background-color: var(--neutral-color-grey__4);
  flex: 0 0 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  @include respond(phone) {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;
  @include respond(tab-land) {
    font-size: 1.2rem;
    margin-top: 0;
  }
  @include respond(phone) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;
    @include respond(phone) {
      flex: 0 0 25%;
    }

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

  }

  &__item:active::before {
    background-color: var(--primary-color__-2);;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color__-1);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s,
    width 0.4s .2s, background-color .1s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1);
  }

  &__item--active &__link:link,
  &__item--active &__link:visited {
    color: var(--neutral-color-black);
  }

  &__item:hover::before,
  &__item--active::before {
    width: 100%;
    transform: scaleY(1);
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond(phone) {
      text-align: center;
    }

    &:link,
    &:visited {
      position: relative;
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--neutral-color-grey__-2);
      display: block;
      padding: 1.5rem 3rem;
      z-index: 10;
      transition: all .2s .3s;
      transition-timing-function: cubic-bezier(1, -0.01, 0, 1);
      @include respond(tab-land) {
        padding: 2rem 2rem;
      }
    }

    &:hover {
      color: var(--neutral-color-grey__4);
    }

    &:active {
      color: var(--neutral-color-black);
    }


  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
    @include respond(phone) {
      width: 3rem;
      height: 3rem;
      margin-right: 0;
    }
  }

  &__text {
    @include respond(phone) {
      display: none;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem 0.5rem 1rem 0.5rem;
  color: var(--neutral-color-grey__-1);
}