.btn {
  border: none;
  font-size: inherit;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.btn__main {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
  border-radius: 100px;
  padding: 1.2rem 3rem;
  @include respond(tab-land) {
    padding: 2rem 3rem;
    font-size: 1.6rem;
  }

  &__visible {

  }

  &__invsisible {

  }

  &--green {
    background-image: linear-gradient(to right bottom, var(--primary-color-u__-2), var(--primary-color-u__1));
    color: var(--neutral-color-white);

    &:link,
    &:visited {
      transition: all 0.1s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to right bottom, var(--primary-color__-2), var(--primary-color__1));
    }

    &:active,
    &:focus {
      transform: translateY(1.5px);
    }

  }
}

.btn-inline {
  display: inline-block;
  color: var(--primary-color__1);
  background-color: transparent;

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  & span {
    margin-left: 3px;
    transition: margin-left 0.5s ease-in-out;
  }

  &--green {
    border-bottom: 1px solid currentColor;

    &:link,
    &:visited {
      color: var(--primary-color__-2);


    }

    &:hover {
      color: var(--primary-color__0);

      span {
        margin-left: 8px;
      }
    }

    &:focus,
    &:active {
      color: var(--primary-color__2);
    }
  }
}
