.btn {
  border: none;
  font-size: inherit;
  cursor: pointer;
  transition: all 1s ease-in-out;

  &:focus {
    outline: none;
  }
}

.btn__slide {
  transition: all 1s ease-in-out;
  position: relative;
  overflow: hidden;

  & > * {
    transition: all .3s ease-in-out;
    height: 100%;
    width: 100%;
    display: inline-block
  }

  &--visible {
    padding: 2rem 7rem;
    display: inline-block;
    @include respond(phone){
      padding: 2rem 6rem;
    }
  }

  &--invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%;
    @include respond(phone){
      padding: 2rem 0;
    }
  }

  &:hover &--visible {
    transform: translateY(100%);
  }

  &:hover &--invisible {
    top: 0;
  }

  &:focus {
    animation: pulsate 0.8s infinite;
  }

}

.btn--large {
  padding: 2rem 4rem;
  @include respond(tab-land) {
    padding: 2rem 2rem;
  }
}

.btn__main {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
  border-radius: 100px;
  @include respond(tab-land) {
    font-size: 1.6rem;
  }

  &--green {
    background-image: linear-gradient(to right bottom, var(--primary-color-u__-1), var(--primary-color-u__1));
    color: var(--neutral-color-white);

    &:link,
    &:visited {
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to right bottom, var(--primary-color__1), var(--primary-color__-1));
    }

    &:active,
    &:focus {
      transform: translateY(1.5px);
    }

  }
}

.btn-inline {
  display: inline-block;
  color: var(--primary-color__1);
  background-color: transparent;

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  & span {
    margin-left: 3px;
    transition: margin-left 0.5s ease-in-out;
  }

  &--green {
    border-bottom: 1px solid currentColor;

    &:link,
    &:visited {
      color: var(--primary-color__-2);


    }

    &:hover {
      color: var(--primary-color__0);

      span {
        margin-left: 8px;
      }
    }

    &:focus,
    &:active {
      color: var(--primary-color__2);
    }
  }
}
