.search {
  flex: 0 0 40%;
  @include respond(tab-port) {
    order: 1;
    flex: 0 0 100% !important;
  }

  &__label {
    display: flex;
    justify-content: center;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--neutral-color-grey__-3);
    color: inherit;
    border: 1px solid var(--neutral-color-grey__-2);
    padding: 0.7rem 2rem;
    border-radius: 20rem;
    margin-right: -3.2rem;
    width: 90%;
    transition: all .2s;

    &:active {
      background-color: var(--neutral-color-grey__-2);
    }

    &:focus {
      outline: none;
      color: var(--neutral-color-black);
      background-color: var(--neutral-color-grey__-2);
      width: 100%;
    }

    &::placeholder,
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--neutral-color-grey__0);
    }
  }

  &__button {
    border: none;
    background-color: var(--neutral-color-grey__-3);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--neutral-color-grey__2);
  }

}
