.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--neutral-color-grey__-1);
  }

  &__icon-box {
    position: relative;

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--neutral-color-grey__1);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--secondary-color__-1);
    text-align: center;
    border-radius: 100px;
    position: absolute;
    top: 1.5rem;
    left: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {

  }

  &__user-photo {
    height: 3.35rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
  }
}