.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--neutral-color-grey__-2);
  box-shadow: var(--box-shadow-default);
  min-height: 45rem;
}

.content {
  display: flex;
  @include respond(phone) {
    flex-flow: column nowrap;
  }
}

.hotel-view {
  flex: 1;
  background-color: var(--neutral-color-white);
}

